<a href="https://colab.research.google.com/github/qozy21/AI-freelance-journey/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Helllo python

In [ ]:
# ini program hello python
pirnt("hello python")

# ini program hello world !
print("hello world !")

# Variabel dan Tipe data

Variabel adalah wadah untuk menyimpan data di dalam memori komputer.
Aturan penamaan variable :
* tidak boleh dimulai dengan angka
* tidak boleh pakai tanda minus
* tidak boleh pakai keyword python
* tidak boleh pakai spasi

In [ ]:
# Contoh Variabel
nama = "Sandi"      # variabel bernama "nama" berisi teks "Sandi"
print(nama)         # mencetak isi variabel "nama"

Tipe data dasar python
* integer (int) - Bilangan bulat
* float - Bilangan Desimal
* string (str) - teks
* boolean (bool) - true/false

In [ ]:
# contoh macam tipe data
Hari = "minggu"
print(type(Hari))     # menampilkan tipe variabel string
tanggal = 14
print(type(tanggal))  # menampilkan tipe variabel integer
waktu = 27.3
print(type(waktu))    # menampilkan tipe variabel float
kondisi = True
print(type(kondisi))  # menampilkan tipe variabel boolean

Macam assigment data pada variabel

In [ ]:
# Assignment dasar
nama = "Sandi"
# Mulitple assigment
x = y = z = 0
a, b, c, = 1, 2, 3
nama, umur = "Sandi", 17
# mengubah nilai
skor = 40   # isi 40
skor =  23  # berubah 23

Input dari pengguna deng function input(). hasilnya akan selalu string

In [ ]:
nama = input("masukan nama : ")
print("hello", nama)

Konversi tipe data
* int() mengubah isi data menjadi integer
* str() mengubah isi data menjadi string
* float() mengubah string atau integer menjadi float
* bool() mengubah isi data mendjadi boolean

In [ ]:
umur_text = input("masukan umur : ")
umur = int(umur_text)
print(type(umur))

# String dan manipulasi string

In [ ]:
# menggabungkan beberapa string
nama_depan = "budi"
nama_belakang = "supriyadi"
umur = 34
data_diri = nama_depan + " " + nama_belakang + ", " + str(umur) + " tahun"
print(data_diri)

budi supriyadi, 34 tahun

In [ ]:
# menampilkan panjang string
nama = "sandi"
print(len(nama))  # menampilkan jumlah karakter dari isi variabel 'nama'

In [ ]:
# mengakses karakter dalam string
nama = "sandi"
print(nama[0])  # menampilkan karakter pertama dari isi variabel 'nama'
print(nama[-1]) # menampilkan karakter terakhir dari isi variabel 'nama'

s
i
sa

In [ ]:
# string slicing (mengambil sebagian dari string)
nama = "sandi"
print(nama[0:2]) # menampilkan karakter pertama dan kedua dari isi variabel 'nama'
print(nama[2:5]) # menampilkan karakter ketiga dan keempat dari isi variabel 'nama'
print(nama[:3])  # menampilkan karakter pertama sampai ketiga dari isi variabel 'nama'

String methode adalah fungsi untuk mengolah data tipe string

In [ ]:
# upper(), lower(), capitalize(), title(), swapcase(), strip()
nama = "  saNdiaga Uno  "
print(nama.upper())       # "  SANDIAGA UNO  "
print(nama.lower())       # "  sandiaga uno  "
print(nama.capitalize())  # "  Sandiaga uno  "
print(nama.title())       # "  Sandiaga Uno  "
print(nama.swapcase())    # "  SAnDIAGA uNO  "
print(nama.strip())       # "sANDIAGA oNO"

In [ ]:
# replace()
kalimat = "I love Indonesia"
print(kalimat.replace("Indonesia", "Bangsaku")) # 'I love Bangsaku'

In [ ]:
# count()
nama = "Missisippi"
print(nama.count("s"))    # jumlah 's' dalam isi variabel nama

In [ ]:
# find()
kalimat = "Python Programming"
print(kalimat.find("Programming")) # posisi 'Programing' dimulai dari index 7

7

Escape Characters adalah karakter khusus dalam string

In [ ]:
# new line    \n
kalimat = "ini kalimat pertama.\nini kalimat kedua."
print(kalimat)
# Tab         \t
kalimat = "ini kalimat pertama.\tini kalimat kedua."
print(kalimat)
# Backslash   \
kalimat = "ini kalimat pertama.\\ini kalimat kedua."
print(kalimat)
# kutip dalam string \'  \"
kalimat = "ini kalimat pertama.\'ini kalimat kedua.\""
print(kalimat)

String Interpolation adalah cara modern untuk menggabungkan variabel dengan teks menggunakan f-string dibandingkan cara konvensional menggunakan concatenation (+)

In [ ]:
# f-string
nama = "Sandi"
umur = 17
kota = "Bandung"
profil = f"Halo, nama saya {nama}, umur {umur} tahun, tinggal di {kota}"
print(profil)
# concatenation
profil_lama = "Halo, nama saya " + nama + ", umur " + str(umur) + " tahun, tinggal di " + kota
print(profil_lama)

Halo, nama saya Sandi, umur 17 tahun, tinggal di Bandung
Halo, nama saya Sandi, umur 17 tahun, tinggal di Bandung

In [ ]:
# f-string dengan expressions
harga = 100000
jumlah = 3

# operasi matematika dalam f-string
total = f"Total: Rp {harga * jumlah:,}"
print(total)      # Total: Rp 300,000

# method calls dalam f-string
nama = "john doe"
salam = f"Selamat pagi, {nama.upper()}!"
print(salam)      # Selamat pagi, JOHN DOE!

# Operator

Operator adalah simbol khusus yang digunakan untuk melakukan operasi pada nilai atau variabel dan nilai. Beberapa jenis operator di python
* Operator Aritmatika
* Operator Assignments (penugasan)
* Operator Perbandingan
* Operator Logika
* Operator String

**Operator Aritmatik**
* operator dasar : + (tambah), - (kurang), * (kali), / (bagi)
* operator pangkat : ** (pangkat)
* operator pembagian bulat : // (pembagian bulat)
* operator modulo : % (modulo/sisabagi)

In [ ]:
a = 8
b = 3

# operator dasar
print(a + b)      # 11
print(a - b)      # 5
print(a * b)      # 24
print(a / b)      # 2.66666666

#operator pangkat
print(a ** b)     # 512

#operator pembagian bulat
print(a // b)     # 2 (hasil tanpa desimal)

#operator modulo
print(a % b)      # 2 (sisa pembagian)

**Operator Assigment**

untuk memberikan nilai pada varaiabel menggunakan (=). compound assigment adalah gabungan aritmatika dan assigment

In [ ]:
x = 10
print("x awal:", x)

x += 5      # x = x + 5
print("x setelah += 5:", x) # 15

x -= 3      # x = x - 3
print("x setelah -= 3:", x) # 12

x *= 2      # x = x * 2
print("x setelah *= 2:", x) # 24

x /= 4      # x = x / 4
print("x setelah /= 4:", x) # 6.0

x awal: 10
x setelah += 5: 15
x setelah -= 3: 12
x setelah *= 2: 24
x setelah /= 4: 6.0

**Operator Perbandingan**

akan menghasilkan True atau False

In [ ]:
a = 7
b = 4

print(a > b)  # True
print(a < b)  # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False (sama dengan)
print(a != b) # True (tidak sama dengan)

nama1 = 'Alice'
nama2 = 'Bob'
nama3 = 'Alice'

print(nama1 == nama2)  # False
print(nama1 != nama2)  # True
print(nama1 == nama3)  # True

**Operator Logika**

* and : true jika kedua kondisi true
* or : true jika salah satu kondisi true
* not : membalikan boolean

In [ ]:
a = 23
b = 24
print(a < b and b != a) # True
print(b > a or b == a)  # True

c = a < b
print(not c) # False

**Operator String**

* Concatenation (+), menambah string
* Repetition (*), mengulang string sejumlah angka
* Membership (in), mengecek apakah text ada dalam string

In [ ]:
nama_depan = "Fiqhi"
nama_tengah = "Haidar"
nama_belakang = "Qozvin"
nama_lengkap = nama_depan + " " + nama_tengah + " " + nama_belakang
print(nama_lengkap) # Fiqhi Haidar

salam = "hello "
print(salam * 3)  # hello hello hello

print("Haidar" in nama_lengkap) # True
print("andika" in nama_lengkap) # False
print("Haidar" not in nama_lengkap) # False

Fiqhi Haidar Qozvin
hello hello hello
True
False
False

**Prioritas Operator**

Urutan Prioritas (dari tinggi ke rendah):

* ** (pangkat)
* *, /, //, % (perkalian, pembagian)
* +, - (penjumlahan, pengurangan)
* ==, !=, <, >, <=, >= (perbandingan)
* not (logika not)
* and (logika and)
* or (logika or)

# Kontrol Alur Program

adalah cara untuk mengatur jalannya program berdasarkan kondisi tertentu

**Pernyataan if**

* Pernyataan if digunakan untuk menjalankan kode hanya jika kondisi tertentu bernilai True.
* Setelah if, harus ada : (titik dua)
* Kode yang akan dijalankan jika kondisi True harus diindentasi (diberi spasi di awal)

In [ ]:
angka = int(input("masukan angka : "))

if angka % 2 == 0:
  print(f"{angka} adalah angka genap")

if angka % 2 != 0:
  print(f"{angka} adalah angka ganjil")

if angka > 0:
  print(f"{angka} adalah angka positif")

if angka < 0:
  print(f"{angka} adalah angka negatif")

masukan angka : 12
12 adalah angka genap

**Pernyataan if-else**

if-else digunakan ketika kita ingin menjalankan kode yang berbeda untuk kondisi True dan False.

In [ ]:
nilai = int(input("masukan nilai : "))

if nilai >= 60:
  print("anda lulus")
else:
  print("anda tidak lulus")

**Pernyataan elif**

elif (else if) digunakan untuk mengecek beberapa kondisi secara berurutan.

In [ ]:
nilai = int(input("masukan nilai : "))

if nilai >= 90:
  print("A")
elif nilai >= 80:
  print("B")
elif nilai >= 70:
  print("C")
elif nilai >= 60:
  print("D")
else:
  print("E")

masukan nilai : 56
E

**Kondisi dengan operator logika**

kondisi harus bernilai boolean,sehingga bisa menggunakan operator, misal operator logika, seperti and, or dan not

In [ ]:
umur = int(input("masukan umur : "))
pendapatan = int(input("masukan pendapatan : "))

if umur >= 19 and pendapatan >= 25000:
  print("Anda adalah profesional muda yang sukses!")
else:
  print("Anda belum memenuhi kriteria")

masukan umur : 30
masukan pendapatan : 1200
Anda tidak memenuhi kriteria

**Nested If**

menempatkan if dalam if yang lain

In [ ]:
username = input("masukan username : ")
password = int(input("masukan password : "))

if username == "admin":
  if password == 12345:
    print("selamat datang admin")
  else:
    print("Password Salah")
else:
  print("Username tidak ditemukan")

masukan username : dfs
masukan password : 12345
Username tidak ditemukan

**Pernyataan Match Case**

fitur yang lebih bersih dibandingkan elif yang banyak

In [ ]:
hari = input("masukan nama hari : ").lower().strip()

match hari:
  case "senin" | "selasa" | "rabu" | "kamis" | "jumat":
    print("Hari kerja")
  case "sabtu" | "minggu":
    print("Hari Libur")
  case _:
    print("Hari tidak valid")

masukan nama hari : Rabu
Hari kerja

**Conditional Expression (Ternary Operator)**

menulis kondisi sederhana dalam satu baris

In [ ]:
angka = int(input("masukan angka : "))

# dengan if-else biasa
if angka % 2 == 0:
  hasil = "genap"
else:
  hasil = "ganjil"

# dengan ternary operator
hasil = "genap" if angka % 2 == 0 else "ganjil"
print("Angka tersebut:", hasil)

# Perulangan (loop)

menjalankan kode yang sama berulang kali. macamnya :
* for loop
* for loop dengan string
* while loop
* break and continue
* loop dengan else
* nested loop

**For loop**

mengulang kode sejumlah tertentu, biasanya menggunakan function range()

In [ ]:
# for loop

for i in range(5):
  print("a", i)     # 0 sampai 4

for i in range(1,5):
  print("b", i)     # 1 sampai 4

for i in range(1,10,2):
  print("c", i)     # ganjil dari 1 sampai 9

for i in range(8,0,-1):
  print("d", i)     # mundur dari 8 sampai 1

**for loop dengan string**

digunakan untuk mengiterasi setiap kata dalam string

In [ ]:
# for loop dengan string

nama = "sandi"
for huruf in nama:
  print(huruf)

kata = input("masukan kata : ")
for karakter in kata:
  print("-",karakter)

**while loop**

mengulang kode selama kondisi masih true

In [ ]:
# while loop
countdown = int(input("hitung waktu mundur :"))

while countdown >= 0:
  print(countdown)
  countdown -= 1

**Break and continue**

* break digunakan untuk keluar dari perulangan
* continue digunakan untuk melanjutkan ke iterasi berikutnya

In [ ]:
# break
import random
angka_random = random.randint(1,10)

while True:
  tebakan = int(input("masukan angka: "))

  if tebakan == angka_random:
    print("jawaban benar")
    break
  else:
    print("coba lagi!")

In [ ]:
# continue
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)    # 1 3 4 5 7 9

1
3
5
7
9

**Loop dengan else**

Python memiliki fitur unik dimana loop bisa memiliki clause else yang dieksekusi jika loop selesai secara normal (tidak dengan break).

In [ ]:
# for-else

kata = input("masukan kata: ")
huruf_dicari = input("Masukan huruf yang dicari: ")

for huruf in kata:
  if huruf == huruf_dicari:
    print("huruf", huruf_dicari, "ditemukan dalam kata!")
    break
else:
    print("huruf", huruf_dicari, "tidak ditemukan dalam kata!")

In [ ]:
# while else

password_benar = "belajar mandiri"
percobaan = 0
kesempatan = 3

while percobaan < kesempatan:
  password = input("masukan password: ")
  percobaan += 1

  if password == password_benar:
    print("Login berhasil")
    break
  else:
    print("password salah. sisa kesempatan:", kesempatan - percobaan)

else:
  print("maksimal kesempatan, akses ditolak")

masukan password: belajar mandiri
Login berhasil

**Nested Loop**

Menempatkan perulangan dalam perulangan