<a href="https://colab.research.google.com/github/qozy21/AI-freelance-journey/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Helllo python

In [ ]:
# ini program hello python
pirnt("hello python")

# ini program hello world !
print("hello world !")

# Variabel dan Tipe data

Variabel adalah wadah untuk menyimpan data di dalam memori komputer.
Aturan penamaan variable :
* tidak boleh dimulai dengan angka
* tidak boleh pakai tanda minus
* tidak boleh pakai keyword python
* tidak boleh pakai spasi

In [ ]:
# Contoh Variabel
nama = "Sandi"      # variabel bernama "nama" berisi teks "Sandi"
print(nama)         # mencetak isi variabel "nama"

Tipe data dasar python
* integer (int) - Bilangan bulat
* float - Bilangan Desimal
* string (str) - teks
* boolean (bool) - true/false

In [ ]:
# contoh macam tipe data
Hari = "minggu"
print(type(Hari))     # menampilkan tipe variabel string
tanggal = 14
print(type(tanggal))  # menampilkan tipe variabel integer
waktu = 27.3
print(type(waktu))    # menampilkan tipe variabel float
kondisi = True
print(type(kondisi))  # menampilkan tipe variabel boolean

Macam assigment data pada variabel

In [ ]:
# Assignment dasar
nama = "Sandi"
# Mulitple assigment
x = y = z = 0
a, b, c, = 1, 2, 3
nama, umur = "Sandi", 17
# mengubah nilai
skor = 40   # isi 40
skor =  23  # berubah 23

Input dari pengguna deng function input(). hasilnya akan selalu string

In [ ]:
nama = input("masukan nama : ")
print("hello", nama)

Konversi tipe data
* int() mengubah isi data menjadi integer
* str() mengubah isi data menjadi string
* float() mengubah string atau integer menjadi float
* bool() mengubah isi data mendjadi boolean

In [ ]:
umur_text = input("masukan umur : ")
umur = int(umur_text)
print(type(umur))

# String dan manipulasi string

In [ ]:
# menggabungkan beberapa string
nama_depan = "budi"
nama_belakang = "supriyadi"
umur = 34
data_diri = nama_depan + " " + nama_belakang + ", " + str(umur) + " tahun"
print(data_diri)

In [ ]:
# menampilkan panjang string
nama = "sandi"
print(len(nama))  # menampilkan jumlah karakter dari isi variabel 'nama'

In [ ]:
# mengakses karakter dalam string
nama = "sandi"
print(nama[0])  # menampilkan karakter pertama dari isi variabel 'nama'
print(nama[-1]) # menampilkan karakter terakhir dari isi variabel 'nama'

In [ ]:
# string slicing (mengambil sebagian dari string)
nama = "sandi"
print(nama[0:2]) # menampilkan karakter pertama dan kedua dari isi variabel 'nama'
print(nama[2:5]) # menampilkan karakter ketiga dan keempat dari isi variabel 'nama'
print(nama[:3])  # menampilkan karakter pertama sampai ketiga dari isi variabel 'nama'

String methode adalah fungsi untuk mengolah data tipe string

In [ ]:
# upper(), lower(), capitalize(), title(), swapcase(), strip()
nama = "  saNdiaga Uno  "
print(nama.upper())       # "  SANDIAGA UNO  "
print(nama.lower())       # "  sandiaga uno  "
print(nama.capitalize())  # "  Sandiaga uno  "
print(nama.title())       # "  Sandiaga Uno  "
print(nama.swapcase())    # "  SAnDIAGA uNO  "
print(nama.strip())       # "sANDIAGA oNO"

In [ ]:
# replace()
kalimat = "I love Indonesia"
print(kalimat.replace("Indonesia", "Bangsaku")) # 'I love Bangsaku'

In [ ]:
# count()
nama = "Missisippi"
print(nama.count("s"))    # jumlah 's' dalam isi variabel nama

In [ ]:
# find()
kalimat = "Python Programming"
print(kalimat.find("Programming")) # posisi 'Programing' dimulai dari index 7

Escape Characters adalah karakter khusus dalam string

In [ ]:
# new line    \n
kalimat = "ini kalimat pertama.\nini kalimat kedua."
print(kalimat)
# Tab         \t
kalimat = "ini kalimat pertama.\tini kalimat kedua."
print(kalimat)
# Backslash   \
kalimat = "ini kalimat pertama.\\ini kalimat kedua."
print(kalimat)
# kutip dalam string \'  \"
kalimat = "ini kalimat pertama.\'ini kalimat kedua.\""
print(kalimat)

String Interpolation adalah cara modern untuk menggabungkan variabel dengan teks menggunakan f-string dibandingkan cara konvensional menggunakan concatenation (+)

In [ ]:
# f-string
nama = "Sandi"
umur = 17
kota = "Bandung"
profil = f"Halo, nama saya {nama}, umur {umur} tahun, tinggal di {kota}"
print(profil)
# concatenation
profil_lama = "Halo, nama saya " + nama + ", umur " + str(umur) + " tahun, tinggal di " + kota
print(profil_lama)

In [ ]:
# f-string dengan expressions
harga = 100000
jumlah = 3

# operasi matematika dalam f-string
total = f"Total: Rp {harga * jumlah:,}"
print(total)      # Total: Rp 300,000

# method calls dalam f-string
nama = "john doe"
salam = f"Selamat pagi, {nama.upper()}!"
print(salam)      # Selamat pagi, JOHN DOE!

# Operator

Operator adalah simbol khusus yang digunakan untuk melakukan operasi pada nilai atau variabel dan nilai. Beberapa jenis operator di python
* Operator Aritmatika
* Operator Assignments (penugasan)
* Operator Perbandingan
* Operator Logika
* Operator String

**Operator Aritmatik**
* operator dasar : + (tambah), - (kurang), * (kali), / (bagi)
* operator pangkat : ** (pangkat)
* operator pembagian bulat : // (pembagian bulat)
* operator modulo : % (modulo/sisabagi)

In [ ]:
a = 8
b = 3

# operator dasar
print(a + b)      # 11
print(a - b)      # 5
print(a * b)      # 24
print(a / b)      # 2.66666666

#operator pangkat
print(a ** b)     # 512

#operator pembagian bulat
print(a // b)     # 2 (hasil tanpa desimal)

#operator modulo
print(a % b)      # 2 (sisa pembagian)

**Operator Assigment**

untuk memberikan nilai pada varaiabel menggunakan (=). compound assigment adalah gabungan aritmatika dan assigment

In [ ]:
x = 10
print("x awal:", x)

x += 5      # x = x + 5
print("x setelah += 5:", x) # 15

x -= 3      # x = x - 3
print("x setelah -= 3:", x) # 12

x *= 2      # x = x * 2
print("x setelah *= 2:", x) # 24

x /= 4      # x = x / 4
print("x setelah /= 4:", x) # 6.0

**Operator Perbandingan**

akan menghasilkan True atau False

In [ ]:
a = 7
b = 4

print(a > b)  # True
print(a < b)  # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False (sama dengan)
print(a != b) # True (tidak sama dengan)

nama1 = 'Alice'
nama2 = 'Bob'
nama3 = 'Alice'

print(nama1 == nama2)  # False
print(nama1 != nama2)  # True
print(nama1 == nama3)  # True

**Operator Logika**

* and : true jika kedua kondisi true
* or : true jika salah satu kondisi true
* not : membalikan boolean

In [ ]:
a = 23
b = 24
print(a < b and b != a) # True
print(b > a or b == a)  # True

c = a < b
print(not c) # False

**Operator String**

* Concatenation (+), menambah string
* Repetition (*), mengulang string sejumlah angka
* Membership (in), mengecek apakah text ada dalam string

In [ ]:
nama_depan = "Fiqhi"
nama_tengah = "Haidar"
nama_belakang = "Qozvin"
nama_lengkap = nama_depan + " " + nama_tengah + " " + nama_belakang
print(nama_lengkap) # Fiqhi Haidar

salam = "hello "
print(salam * 3)  # hello hello hello

print("Haidar" in nama_lengkap) # True
print("andika" in nama_lengkap) # False
print("Haidar" not in nama_lengkap) # False

**Prioritas Operator**

Urutan Prioritas (dari tinggi ke rendah):

* ** (pangkat)
* *, /, //, % (perkalian, pembagian)
* +, - (penjumlahan, pengurangan)
* ==, !=, <, >, <=, >= (perbandingan)
* not (logika not)
* and (logika and)
* or (logika or)

# Kontrol Alur Program

adalah cara untuk mengatur jalannya program berdasarkan kondisi tertentu

**Pernyataan if**

* Pernyataan if digunakan untuk menjalankan kode hanya jika kondisi tertentu bernilai True.
* Setelah if, harus ada : (titik dua)
* Kode yang akan dijalankan jika kondisi True harus diindentasi (diberi spasi di awal)

In [ ]:
angka = int(input("masukan angka : "))

if angka % 2 == 0:
  print(f"{angka} adalah angka genap")

if angka % 2 != 0:
  print(f"{angka} adalah angka ganjil")

if angka > 0:
  print(f"{angka} adalah angka positif")

if angka < 0:
  print(f"{angka} adalah angka negatif")

**Pernyataan if-else**

if-else digunakan ketika kita ingin menjalankan kode yang berbeda untuk kondisi True dan False.

In [ ]:
nilai = int(input("masukan nilai : "))

if nilai >= 60:
  print("anda lulus")
else:
  print("anda tidak lulus")

**Pernyataan elif**

elif (else if) digunakan untuk mengecek beberapa kondisi secara berurutan.

In [ ]:
nilai = int(input("masukan nilai : "))

if nilai >= 90:
  print("A")
elif nilai >= 80:
  print("B")
elif nilai >= 70:
  print("C")
elif nilai >= 60:
  print("D")
else:
  print("E")

**Kondisi dengan operator logika**

kondisi harus bernilai boolean,sehingga bisa menggunakan operator, misal operator logika, seperti and, or dan not

In [ ]:
umur = int(input("masukan umur : "))
pendapatan = int(input("masukan pendapatan : "))

if umur >= 19 and pendapatan >= 25000:
  print("Anda adalah profesional muda yang sukses!")
else:
  print("Anda belum memenuhi kriteria")

**Nested If**

menempatkan if dalam if yang lain

In [ ]:
username = input("masukan username : ")
password = int(input("masukan password : "))

if username == "admin":
  if password == 12345:
    print("selamat datang admin")
  else:
    print("Password Salah")
else:
  print("Username tidak ditemukan")

**Pernyataan Match Case**

fitur yang lebih bersih dibandingkan elif yang banyak

In [ ]:
hari = input("masukan nama hari : ").lower().strip()

match hari:
  case "senin" | "selasa" | "rabu" | "kamis" | "jumat":
    print("Hari kerja")
  case "sabtu" | "minggu":
    print("Hari Libur")
  case _:
    print("Hari tidak valid")

**Conditional Expression (Ternary Operator)**

menulis kondisi sederhana dalam satu baris

In [ ]:
angka = int(input("masukan angka : "))

# dengan if-else biasa
if angka % 2 == 0:
  hasil = "genap"
else:
  hasil = "ganjil"

# dengan ternary operator
hasil = "genap" if angka % 2 == 0 else "ganjil"
print("Angka tersebut:", hasil)

# Perulangan (loop)

menjalankan kode yang sama berulang kali. macamnya :
* for loop
* for loop dengan string
* while loop
* break and continue
* loop dengan else
* nested loop

**For loop**

mengulang kode sejumlah tertentu, biasanya menggunakan function range()

In [ ]:
# for loop

for i in range(5):
  print("a", i)     # 0 sampai 4

for i in range(1,5):
  print("b", i)     # 1 sampai 4

for i in range(1,10,2):
  print("c", i)     # ganjil dari 1 sampai 9

for i in range(8,0,-1):
  print("d", i)     # mundur dari 8 sampai 1

**for loop dengan string**

digunakan untuk mengiterasi setiap kata dalam string

In [ ]:
# for loop dengan string

nama = "sandi"
for huruf in nama:
  print(huruf)

kata = input("masukan kata : ")
for karakter in kata:
  print("-",karakter)

**while loop**

mengulang kode selama kondisi masih true

In [ ]:
# while loop
countdown = int(input("hitung waktu mundur :"))

while countdown >= 0:
  print(countdown)
  countdown -= 1

**Break and continue**

* break digunakan untuk keluar dari perulangan
* continue digunakan untuk melanjutkan ke iterasi berikutnya

In [ ]:
# break
import random
angka_random = random.randint(1,10)

while True:
  tebakan = int(input("masukan angka: "))

  if tebakan == angka_random:
    print("jawaban benar")
    break
  else:
    print("coba lagi!")

In [ ]:
# continue
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)    # 1 3 4 5 7 9

**Loop dengan else**

Python memiliki fitur unik dimana loop bisa memiliki clause else yang dieksekusi jika loop selesai secara normal (tidak dengan break).

In [ ]:
# for-else

kata = input("masukan kata: ")
huruf_dicari = input("Masukan huruf yang dicari: ")

for huruf in kata:
  if huruf == huruf_dicari:
    print("huruf", huruf_dicari, "ditemukan dalam kata!")
    break
else:
    print("huruf", huruf_dicari, "tidak ditemukan dalam kata!")

In [ ]:
# while else

password_benar = "belajar mandiri"
percobaan = 0
kesempatan = 3

while percobaan < kesempatan:
  password = input("masukan password: ")
  percobaan += 1

  if password == password_benar:
    print("Login berhasil")
    break
  else:
    print("password salah. sisa kesempatan:", kesempatan - percobaan)

else:
  print("maksimal kesempatan, akses ditolak")

**Nested Loop**

Menempatkan perulangan dalam perulangan

In [ ]:
angka_satu = int(input("masukan angka: "))
angka_dua = int(input("masukan angka: "))

for i in range(angka_satu, angka_dua +1):
  for j in range(angka_satu, angka_dua +1):
    hasil = i * j
    print(f"{i} x {j} = {hasil}")

# Struktur Data
adalah cara untuk menyimpan dan mengorganisir data dalam pemprogaman dengan menyimpan banyak nilai sekaligus

**List (daftar)**

kumpulan data yang bisa menyimpan banyak nilai dalam satu variabel ditulis dengan []

In [ ]:
# list angka
angka = [4, 3, 12, 40]

# list string
nama = ["sandi", "andi", "budi"]

# list campuran
campuran = ["andi", 25, "budi", 27]

**Manipulasi List**

* append(data) menambah diakhir
* insert(index, data) menambah setelah index
* remove(index) menghapus pada index
* pop() menghapus elemen terakhir
* len(list) menghitung panjang list
* "+" menambah antara dua list
* loop untuk perulangan list

In [ ]:
# mengakses elemen dalam list
hewan = ["kucing", "sapi", "kambing", "ular", "buaya"]
print(hewan[3])   # ular

# mengubah elemen
hewan[2] = "kelinci"
print(hewan)    # ['kucing', 'sapi', 'kelinci', 'ular', 'buaya']

In [ ]:
buah = ["apel", "jeruk", "mangga", "anggur", "melon"]

# append(data)
buah.append("semangka")
print(buah)

# insert(index, data)
buah.insert(2,"kiwi")
print(buah)

# remove(data)
buah.remove("apel")
print(buah)

# del menghapus index
del buah[4]

# pop()
buah.pop()
print(buah)

# len(list)
print(len(buah))

# "+"
sayur = ["kangkung", "wortel", "bayam", "terong"]
buah_sayur = buah + sayur
print(buah_sayur)

# loop dalam list
for item in buah_sayur:
  print("-", item)

for i in range(len(buah)):
  print(str(i+1) + "." , buah[i])

# cek elemen dalam list
if "mangga" in buah:
  print("ada")
else:
  print("tidak ada")

**Tuple**

mirip dengan list, hanya saja tidak bisa diubah setelah dibuat, cara penulisannya menggunakan ()

In [ ]:
tanggal_lahir = (21, 8, 2002)
print("Tanggal lahir: ", tanggal_lahir)

print("bulan: ", tanggal_lahir[1])
print("tahun: ", tanggal_lahir[2])

for e in tanggal_lahir:
  print(e)

for i in range(len(tanggal_lahir)):
  print(tanggal_lahir[i])

**Dictionary**

Dictionary menyimpan data dalam pasangan key-value (kunci-nilai). Dictionary ditulis dengan kurung kurawal {}.

In [ ]:
siswa = {
    "nama": "sandi",
    "kelas": "12",
    "umur": 17,
    "alamat": "Jl. Raya",
    "hobi": ["membaca", "menulis", "bermain musik"]
}

print(siswa)
print(siswa["nama"])
print(siswa["kelas"])
print(siswa["umur"])

# mengubah nilai value
siswa["kelas"] = "11"
print(siswa["kelas"])

# menghapus key value
del siswa["kelas"]

# loop nilai
for key in siswa:
  print(key, siswa[key])

# loop nilai value
for key, value in siswa.items():
  print(key,"=",value)

**Set(himpunan)

merupakan kumpulan data yang tidak berurutan dan tidak memiliki elemen duplikat
ditulis menggunakan {}

In [ ]:
buah = {"apel", "jeruk", "mangga", "anggur", "melon"}
print(buah)

buah.add("semangka")
print(buah)

buah.remove("apel")
print(buah)

for e in buah:
  print(e)

# Function

blok kode yang dapat digunakan berulang kali
dibuat dengan kata kunci def

In [ ]:
def halo():
  print("halo")

halo()

**Function dengan parameter**

dengan menambahkan nama parameter pada kurung buka dan tutup

In [ ]:
def penyapa(nama):
  print("halo", nama)
  print("selamat datang di rumah kami!")

penyapa("sandi")

def luas_persegi(lebar, panjang):
  luas = lebar * panjang
  return luas

print("menghitung luas persegi")
panjang = int(input("masukan panjang: "))
lebar = int(input("masukan lebar: "))
luas1 = luas_persegi(panjang, lebar)
print("menghitung luas persegi")
panjang = int(input("masukan panjang: "))
lebar = int(input("masukan lebar: "))
luas2 = luas_persegi(panjang, lebar)
print("luas kedua persegi: ",luas1 + luas2)

**Default parameter**

jika menentukan parameter harus diisi, namun bisa ditentukan nilai awalnya jika tidak diisi

In [ ]:
def salam(nama, pesan = "selamat datang"):
  print(pesan, nama)

salam("sandi")
salam("sandi", "selamat malam")

**keyword argument**

menyesuaikan pengisian parameter agar tidak tertukar dengan parameter yang lain

In [ ]:
def data_siswa(nama, umur, kelas):
  print("nama:", nama)
  print("umur:", umur)
  print("kelas:", kelas)

# positional argument (urutan harus sesuai)
data_siswa("sandi", 17, "12")

# keyword argument (urutan bebas)
data_siswa(umur = 17, kelas = "12", nama = "sandi")

# positional + keyword argument
data_siswa("sandi", kelas = "12", umur = 17)

**Local variable**

variable yang hanya berlaku didalam function saja

In [ ]:
def hitung_belanja(belanja):
  total = 0
  for harga in belanja:
    total += harga
  return total

belanja1 = [5000, 2000, 9000, 7000]
total1 = hitung_belanja(belanja1)
print(total1)

**Global variable**

bisa digunakan didalam function, untuk mengubahnya dari dalam function butuh katakunci global

In [ ]:
nama_global = "aisha"

def tampilkan_nama():
  print("nama: ", nama_global) # bisa akses global variable

def ubah_nama():
  global nama_global
  nama_global = "sandi"   #mengubah global variable

tampilkan_nama()  # "aisha"
ubah_nama()
tampilkan_nama()  # "sandi"

**Parameter dinamis**

* tambahkan tanda * sebelum parameter untuk parameter dinamis berupa list
* tambahkan tanda ** sebelum parameter untuk parameter dinamis berupa dictionary

In [ ]:
def cetak_list(*list_nama):
  for nama in list_nama:
    print(nama)

cetak_list("sandi", "andi", "budi")

def cetak_dict(**data):
  for key, value in data.items():
    print(key, "=", value)

cetak_dict(nama = "sandi", umur = 17, kelas = "12")

# Penanganan error

**Error** adalah kesalahan yang terjadi saat program berjalan
* SyntaxError
* NameError
* TypeError
* ValueError
* indexError
* KeyError
* ZerroDivisionError

In [ ]:
# syntaxError

print("hello world"

In [ ]:
# name Error

print(nama)   # variabel tidak detemukan

In [ ]:
# type Error

print("5" + 5)

In [ ]:
# Value Error

angka = int("sembilan")

In [ ]:
# index error

buah = ["apel", "jeruk", "mangga"]
print(buah[3])

In [ ]:
# Key Error

siswa = {"nama": "sandi", "kelas": "12"}
print(siswa["umur"])

In [ ]:
# zero Division Error

print(4/0)

**Penanganan Error**
* Try-except
* Try-except-else
* Try-except-finally

In [ ]:
# @title Default title text
# try-except
print("Pembagian angka")

try:
  angka1 = int(input("masukan angka pertama: "))
  angka2 = int(input("masukan angka kedua: "))
  hasil = angka1 / angka2
  print(hasil)
except:
  print("Terjadi kesalahan")

Terjadi kesalahan

In [ ]:
# menyebutkan tipe error secara spesifik setelah kata kunci except

try:
  a = int(input("masukan angka pertama: "))
  b = int(input("masukan angka kedua: "))
  hasil = a / b
  print(hasil)
except ValueError:
  print("masukan angka yang valid")
except ZeroDivisionError:
  print("tidak bisa membagi dengan nol")

masukan angka pertama: 5
masukan angka kedua: 5
1.0

In [ ]:
# try-exccept-else
try:
  angka = int(input("masukan angka: "))
except ValueError:
  print("masukan angka yang valid")
else:
  print("angka yang dimasukan:", angka)
  if angka > 0:
    print("angka positif")
  elif angka < 0:
    print("angka negatif")
  else:
    print("angka nol")

In [ ]:
# try except finnaly

try:
  angka = int(input("masukan angka: "))
  print("angka yang dimasukan:", angka)
except valueError:
  print("masukan angka yang valid")
finally:
  print("program selesai")

# File input output

File I/O adalah kemampuan program untuk membaca data dari file dan menulis data ke file

**Membuka dan Menutup File**

* Untuk membuka file, kita bisa menggunakan function open(file, mode)
* Setelah selesai membuka file, jangan lupa tutup menggunakan function close() pada variabelnya
* Saat membuka file, kita harus tentukan mode nya

**Mode File**
* r : read
* w : write
* a : append (menambah data di akhir file)
* x : create (buat file baru)

**Menulis ke file**

* Untuk menulis ke file, kita bisa gunakan function write(string)
* Perlu diperhatikan, file yang sudah di close() tidak bisa ditulis lagi

In [ ]:
print("SIMPAN DATA NILAI")

file = open("nilai-siswa.txt", "w")

while True:
  nama = input("masukan nama siswa: ")
  if nama == "":
    break
  nilai = input("masukan nilai siswa: ")
  file.write(nama + " : " + nilai + "\n")
  print("data berhasil disimpan")
  print("Tambah nilai? (y/t)")
  pilihan = input()
  if pilihan == "t":
    break

file.close()

**Membaca dari file**

* Untuk membaca dari file, kita bisa menggunakan function read(), function ini akan mengembalikan seluruh isi file
* Namun mungkin kadang kita hanya ingin membaca file per-baris, maka kita bisa menggunakan iterasi for untuk membaca per baris

In [ ]:
print("menampilkan seluruh isi file")

file = open("nilai-siswa.txt", "r")

for line in file:
  data = line.strip().split(",")
  print("nama:", data[0])
  print("nilai:", data[1])
file.close()

menampilkan seluruh isi file

**With Statement**

* Saat membaca/menulis file, kita harus berhati-hati karena jika terjadi error, dan kita lupa melakukan close(), maka aplikasi kita bisa terjadi Memory Leak, yaitu kondisi dimana informasi file masih ada di memori aplikasi, padahal kita sudah tidak menggunakan file tersebut
* Hal ini sangat berbahaya karena penggunaan memori aplikasi kita akan semakin besar tanpa kita sadari
* with statement memastikan file otomatis tertutup, bahkan jika terjadi error
* Dengan menggunakan with statement, kita tidak perlu khawatir kita lupa menutup file menggunakan close()

In [ ]:
print("menampilkan seluruh isi file")

with open("nilai_siswa.txt", "r") as file:
  for line in file:
    data = line.strip().split(",")
    print(data[0], ":", data[1])

print("selesai")

**Error Handling untuk file**

* Walaupun selalu menutup file menggunakan with statement, tapi jika terjadi error, maka tetap aplikasi akan terhenti
* Oleh karena itu, kita tetap perlu menggunakan try-except
* Misal, bagaimana jika file yang kita baca itu tidak ada, maka akan terjadi error FileNotFoundError misalnya

In [ ]:
print("menampilkan seluruh isi file")

try:
  with open("nilai_siswa.txt", "r") as file:
    for line in file:
      data = line.strip().split(",")
      print(data[0], ":", data[1])
except FileNotFoundError:
  print("file tidak ditemukan")

print("selesai")